RewriteEngine on
 RewriteCond %{HTTP_HOST} ^interview.aftervisions.com/$ [NC,OR]
 RewriteCond %{HTTP_HOST} ^interview.aftervisions.com/$
 RewriteCond %{REQUEST_URI} !dist/
 RewriteRule (.*) /dist/$1 [L]
