<section class="hero-banner overlay text-center">
  <div class="container">
    <h1>Integer bibendum sit amet <span>arcu vel egestas.</span></h1>
    <ul class="service-section list-unstyled white-text">
      <li>
        <figure> <img src="/images/service1.png" alt="service" />
          <figcaption><a href="#" class="white-text" title="Service Name">Service Name</a></figcaption>
        </figure>
      </li>
      <li>
        <figure> <img src="/images/service2.png" alt="service" />
          <figcaption><a href="#" class="white-text" title="Service Name">Service Name</a></figcaption>
        </figure>
      </li>
      <li>
        <figure> <img src="/images/service3.png" alt="service" />
          <figcaption><a href="#" class="white-text" title="Service Name">Service Name</a></figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>
