<section class="footer dark-bg grey-text">
  <div class="container">
    <p class="m-0">&copy; 2017 Company. All Rights Reserved.</p>
    <div class="socialmedia-inks">
      <p class="m-0">Follow us on:</p>
      <ul class="list-unstyled">
        <li><a href="#" title="Facebook"><em class="fab fa-facebook-square"></em></a></li>
        <li><a href="#" title="Linkedin"><em class="fab fa-linkedin"></em></a></li>
        <li><a href="#" title="Twitter"><em class="fab fa-twitter-square"></em></a></li>
        <li><a href="#" title="Email"><em class="fas fa-envelope-square"></em></a></li>
      </ul>
    </div>
  </div>
</section>