<section class="cta-get-in-touch overlay white-text text-center">
  <div class="container">
    <h2>Convinced To Work With Us?</h2>
    <p>Company has helped agencies keep their promises to clients since 2005.</p>
    <form class="contact-us-form">
      <div class="form-field">
        <div class="flx-field">
          <div class="form-group">
            <label for="Fullname" class="dn">Fullname</label>
            <input type="text" class="form-control" name="Fullname" id="Fullname" placeholder="Fullname" required>
          </div>
          <div class="form-group px2">
            <label for="Email" class="dn">Email</label>
            <input type="email" class="form-control" id="Email" name="Email Address" placeholder="Email Address" required>
          </div>
          <div class="form-group">
            <label for="Phone" class="dn">Phone</label>
            <input type="tel" class="form-control" id="Phone" name="Phone Number" placeholder="Phone Number" required>
          </div>
        </div>
        <div class="form-group">
          <label for="Message" class="dn">Message in brief</label>
          <textarea class="form-control" id="Message" name="Message" placeholder="Message in brief" rows="5" required></textarea>
        </div>
      </div>
      <button type="submit" class="cta cta-orange" title="Submit">Submit</button>
    </form>
  </div>
</section>