<div class="navigation-header dark-bg">
  <div class="container">
    <nav class="navigationstrip"> <a class="navigationstrip-logo" href="#" title="Company Logo">COMPANY <span class="orange-text">LOGO</span></a>
      <ul class="mainmenu_ul menu">
        <li class="active"><a href="#" title="About">About</a>
          <ul>
            <li><a href="#" title="Our Story">Our Story</a></li>
            <li><a href="#" title="Why Company">Why Company</a></li>
            <li><a href="#" title="Success Stories">Success Stories</a></li>
            <li><a href="#" title="Careers">Careers</a></li>
          </ul>
        </li>
        <li><a href="#" title="Services">Services</a>
          <ul>
            <li><a href="#" title="Staffing">Staffing</a></li>
            <li><a href="#" title="Delivery Support">Delivery Support</a></li>
            <li><a href="#" title="Project Management">Project Management</a></li>
          </ul>
        </li>
        <li><a href="#" title="Services">Solutions</a>
          <ul>
            <li><a href="#" title="CMS Solutions">CMS Solutions</a></li>
            <li><a href="#" title="DevOps">DevOps</a></li>
            <li><a href="#" title="Marketing">Marketing</a></li>
            <li><a href="#" title="Quality Assurance">Quality Assurance</a></li>
          </ul>
        </li>
        <li><a href="#" title="Who can claim?">Blog</a></li>
        <li><a class="grey-text cta cta-orange" title="Get In Touch" href="#"><em class="far fa-comment-alt"></em> Get In Touch</a></li>
      </ul>
    </nav>
    <a class="mobile-contact-icon white-text" title="Get In Touch" href="#"><em class="far fa-comment-alt"></em></a> </div>
</div>